@import url(https://fonts.googleapis.com/css?family=PT+Sans);

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

$thread-comment-bg-color: whitesmoke;

//
$thread-min-height: 8em;
$thread-width: 38em;
$thread-avatar-size: 6em;
$thread-border: 0.5em;
$thread-color: #efefef;
$thread-border-style: 2px solid #aaaaaa;
$thread-head-height: 1.8em;
$thread-head-color: #18ffff;

$serial-line: 2px solid #eeeeee;

//comment parameters
$avatar-size: 5em;
$avatar-border: 0.3em;
$comment-width: 32em;
$comment-height: 7em;
$addition-size: 1em;
$comment-color: #efefef;
$comment-radius: 0.2em;
$comment-border-style: 1px solid #aaaaaa;

$comment-shrink-padding: 6em;

$joint-size: 2.4em;
$joint-inner-size: 1.5em;

//comment head
$comment-head-height: 3em;
$comment-head-color: #29b6f6;
$comment-time-color: #eeeeee;

$reply-height: 8em;
$reply-width: 40em;

@mixin square-size($size) {
  height: $size;
  width: $size;
}

//style -------------

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

textarea {
  resize: none;
}

.thread {
  box-sizing: border-box;
  position: relative;
  //min-height: $thread-border * 2 + $thread-avatar-size
  width: $thread-border * 3 + $thread-width;
  //background-color: red
  display: flex;
  align-items: flex-start;
  padding-bottom: 4em;
  .avatar-back {
    height: $thread-border * 2 + $thread-avatar-size;
    width: $thread-border * 4 + $thread-avatar-size;
    background-color: $thread-color;
    border-top-left-radius: ($thread-avatar-size + $thread-border * 2) / 2;
    border-bottom-left-radius: ($thread-avatar-size + $thread-border * 2) / 2;
    border: $thread-border-style;
    border-right: none;
  }
  .avatar {
    margin-left: $thread-border;
    margin-top: $thread-border;
    @include square-size($thread-avatar-size);
    background-color: black;
    border-radius: 50%;
  }
  .thread-entry {
    box-sizing: border-box;
    align-self: flex-start;
    min-height: $thread-min-height;
    width: $thread-width;
    background-color: $thread-color;
    display: flex;
    flex-direction: column;
    //
    border-top-right-radius: 0.5em;
  }
  &::before {
    position: absolute;
    left: $thread-avatar-size / 2;
    content: "";
    border-left: 2px solid black;
    height: 100%;
    z-index: -2;
  }
}

//thread

.thread-entry {
  .thread-head {
    position: relative;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: $thread-head-height;
    padding-left: 1em;
    background-color: $thread-head-color;
    * {
      padding-right: 1em;
    }
    //
    .thread_options {
      padding: 0px;
      padding-right: 0.4em;
      a {
        padding-left: 0.1em;
        padding-right: 0.2em;
      }
    }
  }
  //thread head
  .thread_items {
    display: flex;
  }
  .thread-footer {
    display: flex;
    justify-content: space-between;
    height: 2em;
    align-items: center;
    .score_buttons {
      display: flex;
      align-items: center;
      padding-left: 1em;
      p, pre {
        margin-right: 1em;
      }
    }
    .thread-ultility {
      padding-right: 1em;
      display: flex;
    }
  }
}

a#filter, a#sort, a#sort-order {
  position: relative;
  padding-left: 1em;
  ul {
    list-style: none;
    position: absolute;
    left: 1em;
    top: 0.4em;
    padding-left: 0;
    border-radius: 4px;
    box-shadow: 2px 2px 4px 2px rgba(20, 20, 20, 0.4);
    li {
      width: 8em;
      padding-left: 0.3em;
      background-color: #eeeeee;
      display: flex;
      align-items: center;
      z-index: 100;
      &:hover {
        background: #03a9f4;
        //color: #aaa

      }
      &:first-child {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
      }
      &:last-child {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
      }
      a {
        display: flex;
      }
      p {
        margin: 0;
      }
      i {
        margin-right: 0.4em;
      }
    }
  }
}

// comment-block ----------
.comment-block {
  position: relative;
  box-sizing: border-box;
  padding-left: $thread-avatar-size / 2;
  display: flex;
  flex-direction: column;
  &::before {
    position: absolute;
    content: "";
    border-left: 2px solid #777777;
    height: 100%;
  }
}

// comment section ---------------
.comment {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1em;
  .avatar {
    position: relative;
    height: $avatar-size;
    width: $avatar-size;
    background-color: white;
    //border: 1px solid black
    box-shadow: 0 0 10px 3px rgba(10, 10, 10, 0.5);
    border-radius: 50%;
    img.pic {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
    .pos {
      position: absolute;
      top: $avatar-border;
      left: $avatar-border;
      height: $avatar-size - 2 * $avatar-border;
      width: $avatar-size - 2 * $avatar-border;
      background-color: black;
      border-radius: 50%;
    }
  }
  //avatar
  .comment-entry {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: $comment-height;
    width: $comment-width;
    background-color: $comment-color;
    border-radius: $comment-radius;
    margin-left: 1em;
    border: $comment-border-style;
    //box-shadow: 2px 3px 10px 2px rgba(20,20,20,0.5)
    z-index: 10;
    &::before {
      position: absolute;
      top: 50%;
      left: -$addition-size / 2;
      content: "";
      width: $addition-size;
      height: $addition-size;
      background-color: $comment-color;
      transform: translateY(-50%) rotate(45deg);
      transform-origin: 50% 50%;
      border-left: $comment-border-style;
      border-bottom: $comment-border-style;
      //box-shadow: 2px 3px 10px 2px rgba(20,20,20,0.5)
      z-index: 1;
    }
    //before

  }
  //comment-entry
}

//comment
.joint {
  height: $joint-size;
  width: $joint-size;
  background-color: #aaaaaa;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset -1px -1px 5px 2px rgba(10, 10, 10, 0.4), inset 1px 1px 5px 2px rgba(220, 220, 220, 0.9);
  .joint-inner {
    height: $joint-inner-size;
    width: $joint-inner-size;
    background-color: #777777;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .no-child {}
  .fold {
    background-color: green;
    i {}
  }
  .unfold {
    background-color: red;
  }
}

.comment-entry {}

//entry --------
.comment-entry {
  .head-bar {
    position: relative;
    border-top-left-radius: $comment-radius;
    border-top-right-radius: $comment-radius;
    background-color: $comment-head-color;
    height: $comment-head-height;
    width: 100%;
    display: flex;
    align-items: center;
    p {
      margin: 0px;
      margin-left: 1em;
    }
    p.last_edit {
      color: $comment-time-color;
    }
    i {
      color: black;
    }
    .button_collection {
      position: absolute;
      top: 8px;
      right: 60px;
      width: 10%;
      display: flex;
    }
    ul.comment-menu {
      position: absolute;
      list-style: none;
    }
  }
  .content {
    min-height: $comment-height - $comment-head-height;
    width: 100%;
  }
  .comment_footer {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-left: 1em;
    .status {
      margin-left: 0.5em;
      display: flex;
      p {
        margin-right: 1em;
      }
    }
  }
}

.button_collection {
  position: relative;
  .button_name_preview {
    position: absolute;
    top: 0em;
    width: 2.4em;
    font-size: 0.8em;
    height: 1.2em;
    background-color: white;
  }
  align-items: center;
  * {
    width: 1.5em;
  }
}

//buton collection
.content {
  * {
    margin-left: 1em;
  }
  .comment-view {
    button.edit_button {
      //display: none
      border: 1px solid #555555;
      font-size: 1em;
      width: 2em;
      i {
        margin: 0.2em;
      }
    }
    &:hover {
      background-color: #aaaaaa;
      border: 1px solid #ddddff;
      button.edit_button {
        display: block;
      }
    }
  }
  .edit-view {
    display: none;
    box-sizing: border-box;
    flex-direction: column;
    textarea.text-edit {
      box-sizing: border-box;
      margin-top: 0.5em;
      height: 3em;
      width: 80%;
    }
    .submit_buttons {
      align-self: flex-end;
    }
  }
}

.thread_reply {
  postion: fixed;
  bottom: 0;
  background: #eeeeee;
  min-height: $reply-height;
  width: $reply-width;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 1em;
  textarea#reply {
    height: 2em;
    &:focus {
      height: 4em;
    }
  }
  .reply_buttons {
    align-self: flex-end;
  }
  button {
    background: #aaaaff;
  }
}

i.fa-trash, i.f-heart {
  &:hover {
    color: red;
  }
}

.thread-body {
  box-sizing: border-box;
  padding: 1em;
  h3 {
    margin-top: 0.2em;
    margin-bottom: 0.3em;
  }
}

.thread {
  h3 {
    font-family: "PT Sans", sans-serif;
  }
  pre {
    font-family: "Source Sans Pro", sans-serif;
  }
}

.comment-view {
  pre {
    font-family: "Source Sans Pro", sans-serif;
  }
}

//
.list_control {
  display: flex;
  position: relative;
  ul {
    list-style: none;
    position: absolute;
    left: 1em;
    top: 0.4em;
    padding-left: 0;
    border-radius: 4px;
    box-shadow: 2px 2px 4px 2px rgba(20, 20, 20, 0.4);
    li {
      width: 8em;
      padding-left: 0.3em;
      background-color: #eeeeee;
      display: flex;
      align-items: center;
      z-index: 100;
      &:hover {
        background: #03a9f4;
        //color: #aaa

      }
      &:first-child {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
      }
      &:last-child {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
      }
      a {
        display: flex;
      }
      p {
        margin: 0;
      }
      i {
        margin-right: 0.4em;
      }
    }
  }
}

.reply_buttons {
  margin-top: 0.5em;
  button {
    background: #aaaaff;
    border: none;
    padding: 0.4em;
    font-size: 1.2em;
  }
}
