//
@import "compass";
@import "bootstrap";
//
$user-bar-height: 3em;

//
.user_bar{
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: white;
  height: $user-bar-height;
  @include flexbox((display: flex,
  flex-direction: row));
  justify-content: space-between;
  align-items: center;
}

#user_name{

}

.login_widget{

  //.login_button{
    //@extend .button;
  //}
  //.signin_button{
    //@extend .button;
  //}
}

.place_holder_top{
  height: $user-bar-height;
}