//
   Created by Qiushuo on 4/20/2016.

section#main_pade
    .ultility-bar
        .container
            ul.filters
                li#Hottest
                    a
                        i.fa.fa-fire
                        p Hottest
                li#Lastest
                    a
                        i.fa.fa-clock-o
                        p Latest
                li#Replied
                    a
                        i.fa.fa-commenting-o
                        p Replied
                li#Recommented
                    a
                        i.fa.fa-heart
                        p Recommented
            a.addThread
                i.fa.fa-plus.fa-2x
                .createThread
                    h3 create new thread
                    p title
                    input
                    p content
                    textarea
    .showcase
        .showcase-item
            .head_up
                h2 something
                p by someone
            p other
            .thread-info
                p replies
                p comments