//
   Created by Qiushuo on 4/20/2016.

.user-control-bar
    //for user who did not log in
    .guest
        .head
            .id
                p You are not login
        .end
            .button-set
                button#login Log in
                button#signin Sign in
    //for log in user
    .user
        .head
            .avatar
            .id your user_name
        .end
            .button-set
                button#logout Logout