ul.filter_control{
  display: flex;
  list-style-type: none;
  //list-style: none;
  li.filter_button{
    //list-style: none;
    background-color: #e7fff3;
  }
}
.main_chunck{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}