/* line 10, ../../sass/partial/showcase.scss */
.showcase_section {
  width: 70%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 2em;
  margin-right: 0;
  align-content: flex-start;
  flex-wrap: wrap;
}

/* line 23, ../../sass/partial/showcase.scss */
.list_display {
  -webkit-flex-direction: column;
  flex-direction: column;
}

/* line 34, ../../sass/partial/showcase.scss */
.square {
  width: 15em;
  height: 15em;
  padding: 2em;
  background-color: white;
  margin-right: 0.4em;
  box-shadow: inset 0px -27px 88px 27px rgba(204, 204, 204, 0.23);
}
/* line 42, ../../sass/partial/showcase.scss */
.square h1 {
  font-size: 1.4em;
}

/* line 47, ../../sass/partial/showcase.scss */
.vertical_list_item {
  width: 100%;
}

/* line 51, ../../sass/partial/showcase.scss */
.entry_info {
  display: flex;
  flex-direction: row;
}
